/results_*
/*.src.rpm

/apache-ant-1.7.1-src.tar.bz2
/apache-ant-1.8.1-src.tar.bz2
/apache-ant-1.8.2-src.tar.bz2
/apache-ant-1.8.3-src.tar.bz2
/apache-ant-1.8.4-src.tar.bz2
/apache-ant-1.9.0-src.tar.bz2
/apache-ant-1.9.1-src.tar.bz2
/apache-ant-1.9.2-src.tar.bz2
/apache-ant-1.9.3-src.tar.bz2
/apache-ant-1.9.4-src.tar.bz2
/apache-ant-1.9.5-src.tar.bz2
/apache-ant-1.9.6-src.tar.bz2
/apache-ant-1.9.7-src.tar.bz2
/apache-ant-1.10.0-src.tar.bz2
/apache-ant-1.10.1-src.tar.bz2
/apache-ant-1.10.2-src.tar.bz2
/apache-ant-1.10.3-src.tar.bz2
/apache-ant-1.10.4-src.tar.bz2
/apache-ant-1.10.5-src.tar.bz2
/apache-ant-1.10.6-src.tar.bz2
/apache-ant-1.10.7-src.tar.bz2
/apache-ant-1.10.8-src.tar.bz2
/apache-ant-1.10.9-src.tar.bz2
/apache-ant-1.10.11-src.tar.bz2
/apache-ant-1.10.12-src.tar.bz2
/apache-ant-1.10.13-src.tar.bz2
/apache-ant-1.10.14-src.tar.bz2
/apache-ant-1.10.15-src.tar.bz2
