/swtpm.spec
/swtpm-ce13edf.tar.gz
/swtpm-0143c41.tar.gz
/swtpm-c782a85.tar.gz
/swtpm-05d8160.tar.gz
/swtpm-8b9484a.tar.gz
/swtpm-2c25d13.tar.gz
/swtpm-ca85606.tar.gz
/swtpm-374b669.tar.gz
/swtpm-f0b4137.tar.gz
/swtpm-13536aa.tar.gz
/swtpm-9227cf4.tar.gz
/swtpm-8dae4b3.tar.gz
/swtpm-0.3.0.tar.gz
/swtpm-74ae43b.tar.gz
/swtpm-80f0418.tar.gz
/swtpm-0c238a2.tar.gz
/swtpm-b931e10.tar.gz
/swtpm-390f5bd.tar.gz
/swtpm-96f5a04.tar.gz
/swtpm-e59c0c1.tar.gz
/swtpm-ea627b3.tar.gz
/swtpm-a0ca7c3.tar.gz
/swtpm-98187d2.tar.gz
/swtpm-b79fd91.tar.gz
/swtpm-92a7035.tar.gz
/swtpm-21c90c1.tar.gz
/swtpm-f2268ee.tar.gz
/swtpm-2ae7b01.tar.gz
/0001-swtpm_setup-Initialized-argv-to-NULL-Fedore-Rawhide.patch
/swtpm-d2849a9.tar.gz
/swtpm-0.8.2.tar.gz
/swtpm-0.9.0.tar.gz
/swtpm-0.10.0.tar.gz
/swtpm-0.10.1.tar.gz
