{%- macro integration_test_scenario() -%}
{%- for arch in ["x86_64", "aarch64"] %}
---
apiVersion: appstudio.redhat.com/v1beta2
kind: IntegrationTestScenario
metadata:
  name: {{ application_name + "-testing-farm-" + arch.replace("_", "-") }}
  annotations:
    test.appstudio.openshift.io/pipeline_timeout: 8h30m
spec:
  application: {{ application_name }}
  contexts:
    - name: pull_request
  params:
    - name: COMPOSE
      value: RHEL-9-Nightly
    - name: PIPELINE_MODE
      value: rpm
    - name: ARCH
      value: {{ arch }}
    - name: IMAGE_TAG
      value: v3.5
  resolverRef:
    resolver: bundles
    params:
      - name: bundle
        value: quay.io/testing-farm/tmt-via-testing-farm:$(params.IMAGE_TAG)
      - name: name
        value: tmt-via-testing-farm
      - name: kind
        value: pipeline
      - name: url
        value: quay.io/testing-farm/tmt-via-testing-farm:$(params.IMAGE_TAG)
{%- endfor %}
{%- endmacro -%}
