{%- macro release_plan(plan_name) -%}
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: ReleasePlan
metadata:
  labels:
    release.appstudio.openshift.io/auto-release: "true"
    release.appstudio.openshift.io/standing-attribution: "true"
    release.appstudio.openshift.io/releasePlanAdmission: {{ plan_name }}
  name: {{ plan_name }}
spec:
  application: {{ application_name }}
  target: {{ tenant }}
{%- endmacro -%}
