{%- macro release_plan_admission(plan_name, pulp_domain, pulp_credentials_secret, pipeline_url, pipeline_path, policy, pipeline_revision=none, pipeline_revision_pinned=none) -%}
{%- set _revision = pipeline_revision or pipeline_revision_pinned -%}
{%- set _pinned = pipeline_revision_pinned is not none -%}
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: ReleasePlanAdmission
metadata:
  name: {{ plan_name }}
  namespace: {{ tenant }}
  labels:
    release.appstudio.openshift.io/block-releases: 'false'
spec:
  applications:
    - {{ application_name }}
  data:
    pulp:
      domain: {{ pulp_domain }}
      secretName: {{ pulp_credentials_secret }}
    singleComponentMode: true
  origin: {{ tenant }}
  pipeline:
    pipelineRef:
      params:
        - name: url
          value: '{{ pipeline_url }}'
        - name: revision
{%- if not _pinned %}
          # renovate: datasource=git-refs depName=konflux-ci/release-service-catalog branch=production
{%- endif %}
          value: {{ _revision }}
        - name: pathInRepo
          value: {{ pipeline_path }}
      resolver: git
    serviceAccountName: {{ plan_name }}
    timeouts:
      pipeline: 4h0m0s
      tasks: 4h0m0s
  policy: {{ policy }}
{%- endmacro -%}
