/gmp-5.0.5.tar.xz
/gmp-5.1.0.tar.bz2
/gmp-5.1.1.tar.bz2
/gmp-5.1.2.tar.bz2
/gmp-5.1.3.tar.bz2
/gmp-6.0.0a.tar.bz2
/gmp-6.1.0.tar.bz2
/gmp-6.1.1.tar.bz2
/gmp-6.1.2.tar.bz2
/gmp-6.2.0.tar.bz2
/gmp-6.2.1.tar.xz
/gmp-6.3.0.tar.xz
