/libsecret-0.1.tar.xz
/libsecret-0.2.tar.xz
/libsecret-0.3.tar.xz
/libsecret-0.6.tar.xz
/libsecret-0.7.tar.xz
/libsecret-0.8.tar.xz
/.build-*.log
/*.src.rpm
/x86_64/
/libsecret-0.10.tar.xz
/libsecret-0.11.tar.xz
/libsecret-0.12.tar.xz
/libsecret-0.13.tar.xz
/libsecret-0.14.tar.xz
/libsecret-0.15.tar.xz
/libsecret-0.16.tar.xz
/libsecret-0.18.tar.xz
/libsecret-0.18.2.tar.xz
/libsecret-0.18.3.tar.xz
/libsecret-0.18.4.tar.xz
/libsecret-0.18.5.tar.xz
/libsecret-0.18.6.tar.xz
/libsecret-0.18.7.tar.xz
/libsecret-0.18.8.tar.xz
/libsecret-0.19.0.tar.xz
/libsecret-0.19.1.tar.xz
/libsecret-0.20.0.tar.xz
/libsecret-0.20.1.tar.xz
/libsecret-0.20.2.tar.xz
/libsecret-0.20.3.tar.xz
/libsecret-0.20.4.tar.xz
/libsecret-0.20.5.tar.xz
/libsecret-0.21.0.tar.xz
/libsecret-0.21.1.tar.xz
/libsecret-0.21.2.tar.xz
/libsecret-0.21.3.tar.xz
/libsecret-0.21.4.tar.xz
/libsecret-0.21.6.tar.xz
/libsecret-0.21.7.tar.xz
