/libassuan-2.4.3.tar.bz2
/libassuan-2.4.3.tar.bz2.sig
/libassuan-2.4.4.tar.bz2
/libassuan-2.4.4.tar.bz2.sig
/libassuan-2.5.1.tar.bz2
/libassuan-2.5.1.tar.bz2.sig
/libassuan-2.5.2.tar.bz2.sig
/libassuan-2.5.2.tar.bz2
/libassuan-2.5.3.tar.bz2
/libassuan-2.5.3.tar.bz2.sig
/libassuan-2.5.4.tar.bz2
/libassuan-2.5.4.tar.bz2.sig
/libassuan-2.5.5.tar.bz2
/libassuan-2.5.5.tar.bz2.sig
/libassuan-2.5.6.tar.bz2
/libassuan-2.5.6.tar.bz2.sig
/libassuan-2.5.7.tar.bz2
/libassuan-2.5.7.tar.bz2.sig
