{{ application() }}
{%- for rpm in rpms %}
{{ component(rpm) }}
{%- endfor %}
{%- for rpm in rpms %}
{{ image_repository(rpm) }}
{%- endfor %}
{{ policy("registry-rhel-primitives") }}
{{ release_plan("rhel-primitives-rpm-release") }}
{{ release_plan_admission("rhel-primitives-rpm-release",
    "public-rhel-primitives",
    "pulp-public-rhel-primitives-config-file-secret",
    "https://github.com/scoheb/release-service-catalog.git",
    "push-rpms-to-pulp", "pipelines/managed/push-rpms-to-pulp/push-rpms-to-pulp.yaml",
    "registry-rhel-primitives") }}