{{ application() }}
{%- for rpm in rpms %}
{{ component(rpm) }}
{%- endfor %}
{%- for rpm in rpms %}
{{ image_repository(rpm) }}
{%- endfor %}
{{ policy("registry-hummingbird") }}
{{ release_plan("hummingbird-rpm-release") }}
{{ release_plan_admission("hummingbird-rpm-release",
    "public-hummingbird",
    "pulp-public-hummingbird-config-file-secret",
    "https://github.com/konflux-ci/release-service-catalog.git",
    "development", "pipelines/managed/push-rpms-to-pulp/push-rpms-to-pulp.yaml",
    "registry-hummingbird") }}