{%- for rpm in rpms %}
# --- {{ rpm.name }} ---
{%- if rpm.imported %}
{{ component(rpm) }}
{{ image_repository(rpm) -}}
{%- else %}
# PENDING
{%- endif -%}
{% endfor -%}
{{ policy("registry-hummingbird") }}
{{ release_plan_admission("hummingbird-rpm-release",
    "public-hummingbird",
    "pulp-public-hummingbird-config-file-secret",
    "https://github.com/konflux-ci/release-service-catalog.git",
    "0364b9af283a593ed6b1e97f9d720f2852ff3252", "pipelines/managed/push-rpms-to-pulp/push-rpms-to-pulp.yaml",
    "registry-hummingbird") }}
