/attrs-16.0.0.tar.gz
/attrs-16.1.0.tar.gz
/attrs-16.3.0.tar.gz
/attrs-17.4.0.tar.gz
/attrs-18.2.0.tar.gz
/attrs-19.1.0.tar.gz
/attrs-19.3.0.tar.gz
/attrs-20.1.0.tar.gz
/attrs-20.2.0.tar.gz
/attrs-20.3.0.tar.gz
/attrs-21.1.0.tar.gz
/attrs-21.2.0.tar.gz
/attrs-21.4.0.tar.gz
/attrs-22.1.0.tar.gz
/attrs-22.2.0.tar.gz
/attrs-23.1.0.tar.gz
/attrs-23.2.0.tar.gz
/attrs-24.1.0.tar.gz
/attrs-24.2.0.tar.gz
/attrs-24.3.0.tar.gz
/attrs-25.1.0.tar.gz
/attrs-25.3.0.tar.gz
/attrs-25.4.0.tar.gz
